<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%">
  <h2>Innovative System Resume Upload & Manager Websites</h2>
  <p>This project was created using Angular and a C# RESTful API Backend. The objective of this project was 
    to decrease the amount of time that Innovative System's employees spend to collect information from
    possible hires and give them a quick and easy way to view all the uploaded applications. These websites
    will be first implemented Fall 2019 at the South Dakota School of Mines & Technology Career Fair. Here,
    they will give the website url to applicants, rather than having to collect many resumes and ask for 
    information later in the hiring process. This will also give them a way to keep the history of who 
    applied in the past years. Before these websites, the company was just using excel spreadsheets in order
    to keep track of past applicants, the scheduling of interviews, and whether or not they have offered them
    a job and if they accepted the offer or not.

    Below is a quick view over each website and how they interact with the API and eachother.
  </p>
  <video muted preload="auto" controls>
    <source src="../../assets/resume-manager-demo.mp4" type="video/mp4">
      Your browser does not support the video.
  </video>
</div>