<div class="container">
  <div class="image-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5%">
    <img src="../../assets/image2.jpeg">
    <div class="contact-container" fxLayout="column" fxLayoutAlign="center">
      <div fxLayoutAlign="center">
        <h3><strong>Contact Me!</strong></h3>
      </div>  
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p>Email: huntcomer49@gmail.com</p>
        <button mat-icon-button (click)="onCopyClipBoard('huntcomer49@gmail.com')">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>    
      <p>Cell: (605) 641-6612</p>
    </div>
  </div>
</div>